@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Press+Start+2P&family=Sixtyfour+Convergence&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alan+Sans:wght@300..900&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}
/* -- Este código é protegido pelos direitos altorais, não deve ser usado e nem copiado 
sem a altorização do altor.-- */


:root {
    --letra: 'Alan Sans', Arial, Helvetica, sans-serif;
    --cor1: rgb(123, 0, 255);
    --fundo: rgb(28, 28, 28);
}

html {
    font-size: 1.2vw;
    margin-top: 0;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
    color: white;
    padding-top: 2rem;
}h1 {
    font-size: 4rem;
    font-family: var(--letra), Arial, Helvetica, sans-serif;
    letter-spacing: 0.4rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.4rem;
}section {
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 2rem;
} a {
    transition: 0.3s;
    text-decoration: none;
}
a:hover {
    transform: scale(1.05);
}

#inicio {
    display: grid;
    grid-template-columns: 27.5% 67.5%;
    gap: 5%;
}.img-inicio {
    width: 100%;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        border-radius: 50%;
    }
}.img-inicio::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    background: linear-gradient(to bottom, var(--cor1), var(--fundo), var(--cor1));
    border-radius: 50%;
}.texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1 {
        background: linear-gradient(to bottom, var(--cor1), white);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3 {
        color: var(--cor1);
    }
    form {
        div {
            display: grid;
            grid-template-columns: 67.5% 27.5%;
            gap: 5%;
            input {
                padding: 1rem;
                outline: none;
                width: 100%;
                border-radius: 0.5rem;
                border: 0.2rem solid var(--cor1);
                font-weight: bold;
                padding-left: 2rem;
            }input::placeholder {
                color: var(--cor1);
            }
            button {
                width: 100%;
                background-color: var(--cor1);
                font-weight: bold;
                border: var(--fundo);
                border-radius: 0.5rem;
                color: white;
                text-transform: uppercase;
            }
        }
    }
}

#links {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    a {
        color: white;
        padding: 1rem;
        font-size: 1rem;
        border: 0.2rem solid var(--cor1);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 10;
        font-weight: bold;
        border-radius: 0.5rem;
        text-transform: uppercase;
        i {
            color: white;
            position: absolute;
            left: 2rem;
            top: 0%;
            transform: translateY(-50%);
            font-size: 1.5rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: var(--fundo);
            z-index: -1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
::-webkit-scrollbar {
    display: none;
}

.titulo {
    text-align: center;
    font-family: var(--letra);
    color: var(--cor1);
    text-transform: uppercase;
    margin-top: 2rem;
}
#momentos {
    display: flex;
    align-items: stretch;
    gap: 2rem;
    overflow-x: scroll;
    margin: 2rem auto;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-top: 3rem;
    overflow-y: hidden;
    scrollbar-width: none;
    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
        justify-content: stretch;
        padding: 1rem;
        width: 30%;
        height: 100%;
        background-color: var(--fundo);
        position: relative;
        border: 0.2rem solid var(--cor1);
        border-radius: 1rem;
        flex: none;
        i {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 5rem;
            height: 5rem;
            font-size: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--fundo);
            color: white;
            border: 0.2rem solid var(--cor1);
            z-index: 10000;
            border-radius: 50%;
        }
        img {
            width: 100%;
            height: 25rem;
            border-radius: 0.5rem;
            object-fit: cover;
            box-shadow: 0 0 0.2rem var(--cor1), 0 0 0.5rem var(--cor1);
        }
    }
}


#destaque {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    div {
        padding: 2rem;
        padding-top: 2.5rem;
        border: 0.2rem solid var(--cor1);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        i {
            position: absolute;
            top: 0;
            left: 2rem;
            transform: translateY(-50%);
            color: var(--cor1);
            font-size: 2rem;
            width: 4rem;
            height: 4rem;
            background-color: var(--fundo);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        h3 {
            color: var(--cor1);
            font-size: 2rem;
        }
    }
}



footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 2rem;
    background-color: var(--cor1);
    margin-top: 2rem;
}



/* -- Responsividade para dispositivos moveis -- */
@media (min-width: 768px) and (max-width: 1024px) {
html { 
    font-size: 1.9vw;
}
section {
    padding-left: 6rem;
    padding-right: 6rem;
}a:hover {
    transform: scale(1.0);
}

#inicio {
    grid-template-columns: auto;
    gap: 10%;
}.img-inicio {
    margin: 0 auto;
    width: 70%;
}.img-inicio::after {
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
}.texto {
    text-align: center;
    form {
        div {
            grid-template-columns: auto;
            input {
                padding: 2rem;
                font-size: 1.2rem;
                margin: 0 auto;
            }
            button {
                padding: 1rem;
                margin: 0 auto;
                font-size: 1.6rem;
            }
        }
    }
}

#links {
    padding-top: 5rem;
    a {
        padding-top: 1.5rem;
        font-size: 1.2rem;
    }
}
#momentos {
    margin-left: 6rem;
    margin-right: 6rem;
    div {
        width: 40%;
    }
}
}




@media (max-width: 767px) {
html {
    font-size: 2.7vw;
}
section {
    padding-left: 4rem;
    padding-right: 4rem;
}a:hover {
    transform: scale(1.0);
}

#inicio {
    grid-template-columns: auto;
    gap: 3rem;
}.img-inicio::after {
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
}.texto {
    form {
        div {
            grid-template-columns: auto;
            gap: 5%;
            input {
                padding: 1.5rem;
            }
            button {
                padding: 1.5rem;
            }
        }
    }
}

#links {
    grid-template-columns: auto;
    a {
        padding: 1.5rem;
        font-size: 1.5rem;
        i {
            font-size: 2rem;
            width: 4rem;
            height: 4rem;
        }
    }
}
#momentos {
    margin-left: 4rem;
    margin-right: 4rem;
    div {
        width: 60%;
    }
}


#destaque {
    grid-template-columns: auto;
    row-gap: 3.5rem;
    div {
        padding-top: 3rem;
        i {
            font-size: 3rem;
            width: 6rem;
            height: 6rem;
        }
        h3 {
            color: var(--cor1);
            font-size: 2rem;
        }
    }
}
}



























